.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .home-page {
    padding-top: calc(120px + env(safe-area-inset-top, 0px));
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding-left: 0;
    padding-right: 0;
  }
}

