.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-top: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .home-page {
    padding-top: 120px;
    height: 100vh;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
  }
}

