.home-page {
  height: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding-top: 0;
  width: 100%;
}

@media (max-width: 768px) {
  .home-page {
    height: auto;
    min-height: 100%;
    overflow: visible;
  }
}

